# Python
__pycache__/
*.py[cod]
*.pyo
.venv/

# PyInstaller
build/
*.spec

# Temp files
*.tmp
recordings/*.tmp

# We are intentionally NOT ignoring the dist/ folder because you requested
# the .exe file to be pushed to git as well!
